<article>
  <header>
    <h1><%= link_to_unless_current post.title, post %></h1>
    <div class="top"><time>28 ноября 2013</time><%= link_to('Edit', edit_post_path(post), class: 'edit-link', "data-no-turbolink" => "") if logged %></div>
  </header>
  <section><%= markdown post.body %></section>
<!--     <footer>
    <div class="tags-list">
      <span class="tag">Дизайн</span>
      <span class="tag">Творчество</span>
      <span class="tag">Абстракция</span>
    </div>
  </footer> -->
<!--   <%= link_to 'Show', post %><

<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
</article>