<!DOCTYPE html>
<html>
<head>
  <title>TanskyComUa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper header clr">
  <header class="clr">
    <div class="name"><%= link_to_unless_current 'Танский Юрий', root_path %></div>
    <nav>
      <a href="/tags/работы">Работы</a>
      <a href="/tags/автор">Об авторе</a>
      <%= link_to('Новый', new_post_path, class: 'separate', "data-no-turbolink" => "") if logged%>
      <%= link_to('Выйти', logout_path) if logged%>
    </nav>
    <div class="admin">
    </div>
  </header>
</div>
<%= yield %>

</body>
</html>
